.extradiv{
    position: absolute;
    top:50%;
    left: 30%;
    transform: translate(-50%,-50%);
    z-index: 1000000000000;
  margin-top: -6vh;
  width: 100vh;
  background-color: gray;
  padding: 1vh;
  border-radius: 2vh;
}
.char-card{
    display: flex;
    margin-left: 2vh;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    border-style: solid;
    border-width: 1px 0;
    border-color: #ffffff;
    align-items: center;   
}
#close_extra_des{
    padding: 1vh;
    border-radius: 1vh;
    cursor: pointer;
    border: none;
}
.charity-id{
    width: 10vw;
    text-align: center;
}
.charity-name{
    width: 35vw;
    text-align: center;
    cursor: pointer;
}
.donate-charity{
    background: linear-gradient(272.88deg, #9934E7 4.95%, #5C1991 93.62%);
    box-shadow: 0px 4px 20px 0px rgba(104, 109, 224, 0.5);
    padding: 0.9vh;
    padding-left: 3vh;
    padding-right: 3vh;
    border-radius: 20px;
}
.donate-charity:hover{
    background: linear-gradient(0deg, #0A040F, #0A040F),
linear-gradient(0deg, #9934E7, #9934E7);
    box-shadow: 0px 4px 20px 0px rgba(153, 52, 231, 1);
    cursor: pointer;
    transition: 0.15s ease-in;
}

.popup_donate {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: 230px;
    color: black;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 100000000000;
    display: flex;
    flex-direction: column;             
  }
  
  .popup_donate input {
    width: 100%;
    padding: 8px;
    /* margin-bottom: 16px; */
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .popup_donate button {
    /* margin-right: 8px; */
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: black;
    color: white;
  }
  
