 
.pro1 {
    transform: none;
    position: fixed;
    z-index: 500;
    top: -14.5vh;
    left: 31vh;
    width: 100%;
  }  

.swmain{
    background: rgba(10, 4, 15, 1);
    border-radius: 2.75vh;
    text-align: center;
    height: 75.7vh;
    width: 55.5vw;
    padding: 2vh;
    padding-top: 8vh;
    align-items: center;
    justify-items: center;
}

.participant_list{
    height: 500px;
    width: 900px;
    background-color: black;
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    border-radius: 10px;
    padding: 20px;
    left:50%;
    z-index:1000;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto
}

.participant_list input{
    border: none;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    width: max-content;
}
.participant-row{
    display: flex;
    flex-direction: row;
    width: 400px;
    padding: 5px;
    justify-content: space-around;
    background-color: rgb(73, 73, 73);
    border-radius: 12px;
    margin-bottom: 7px;
}
#close_participants{
    background-color: purple;
    color: white;
    cursor: pointer;
    border: none;
    padding: 5px;
    border-radius: 7px;
    position: absolute;
    top:2;
    right:4px;
    font-size: 17px;
}
.setting-exit-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1vh;
    padding-bottom: 3vh;
}

.setting-exit-btns img{
    height: 2.5vh;
    padding: 0.5vh;
}

.swh1{
    font-size: 5vh;
}
.swh2{
    font-size: 2.5vh;
    font-weight: 50;
}

.swinfos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 8vh;
    padding-right: 8vh;
}
.swinfo{
    height: 13vh;
    width: 22vh;
    padding: 2vh;
    border-radius: 2vh;
    background: linear-gradient(272.88deg, rgba(153, 52, 231, 0.8) 4.95%, rgba(92, 25, 145, 0.8) 93.62%);
    box-shadow: 0px 4px 20px 0px rgba(104, 109, 224, 0.5);
    margin: 1vh;
}
.trn-hist:hover{
    cursor: pointer;
    background: rgba(10, 4, 15, 1);
    box-shadow: 0px 4px 20px 0px rgba(153, 52, 231, 1);
    transition: 0.1s ease-in;
}
.members-card:hover{
    cursor: pointer;
    background: rgba(10, 4, 15, 1);
    box-shadow: 0px 4px 20px 0px rgba(153, 52, 231, 1);
    transition: 0.1s ease-in;
}

.swlogo-back{
    background-color: rgb(129, 129, 129);
    height: 3.25vh;
    border-radius:3vh ;
    width: fit-content;
    padding: 1vh;
    margin-bottom: 1vh;
    margin-left: 35%;
}

.swibottom{
    display: flex;
}

.b1,.b2{
    margin-left: 2.75vh;
    margin-right: 2.75vh;
}

.swlogo{
    font-size: 2vh;
    padding: 0.5vh;
    font-weight: 500;
}
.swvalue{
    font-size: 3vh;
    padding-top: 0.5vh;
}

.leave-wallet{
    background: rgba(10, 4, 15, 1);
    box-shadow: 0px 4px 20px 0px rgba(153, 52, 231, 1);
    border-radius: 3vh;
    color: white;
    margin-top: 5vh;
    width: fit-content;
    padding: 1.5vh;
}
.leave-wallet:hover{
    cursor: pointer;
    background: linear-gradient(272.88deg, #7124ab 4.95%, #491371 93.62%);
    box-shadow: 0px 4px 20px 0px rgba(104, 109, 224, 0.5);
    transition: 1s ease-in;
}
.swbtn-btm{
    margin-left: 42%;
}

.logo1,.logo2 {
    margin-left: 2vh;
    padding: 0.25vh;
    border-radius: 1vh;
    height: 4vh;
}

.logo1:hover,.logo2:hover{
    background-color: rgba(255, 255, 255, 0.244);
    cursor: pointer;
}

#transactions{
    height: 500px;
    width: 800px;
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    background-color: rgb(37, 23, 48);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.bar_row{
    padding: 10px;
    border-radius: 15px;
    background-color: rgb(86, 87, 89);
    color: white;
    margin-bottom: 20px;
    font-size: 16px;
}
#close_trans_box{
    position: absolute;
    top:10%;
    right:10%;
    background-color: rebeccapurple;
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    border: none;
}